<!DOCTYPE html>
<html>
<head>
	<title>bachsExploration | Dashboard </title>
	<meta charset="utf-8">
	{%load staticfiles%}
	<!-- Bootstrap -->
	 
	<link rel="stylesheet" type="text/css" href="{% static 'gamePlay/css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<!-- Other Style Sheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'gamePlay/css/style.css' %}">

	<!-- jQuery -->
	<script type="text/javascript" src="{%static 'gamePlay/js/jquery-3.0.0.min.js'%}"></script>

	<!-- main JS -->
	<script type="text/javascript" src="{%static 'gamePlay/js/script_main.js'%}"></script>

</head>
<body ondragstart="return false;" ondrop="return false;">

	<!-- Container / Main Body -->
	<div class="container" id="main">
		<!-- row 1 / Message & Alert Display -->
		<div class="row">
			<div class="col-xs-9">
				<h1>bachs exploration</h1>
			</div>
			<div class="col-xs-3">
				<a class="button" id="logout" href="{%url 'logOut'%}">LOGOUT</a>
			</div>
		</div>
		
		
		
		<div class="row">
			<div class="col-xs-9" id="createGame">
				<h3>Start A New Quest!</h3>
				<form action="{%url 'game_new' %}" method="POST">
				{%csrf_token%}
					<ul>
						<li>
							<fieldset class="form-group">
								<label>Character's Name:</label>
								<input type="text" name="char_name">
							</fieldset>
						</li>
					</ul>
					<fieldset class="form-group">
						<button class="btn btn-primary" type="/submit">Play!</button>
					</fieldset>
				</form>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-9" id="loadGame">
				<h3>Select A Game:</h3>

				{% for game in games %}
					{% for save in game.save_set.all %}
					<a href="{% url 'game_play' id=save.game_id %}" class="button load">
					{{save.save_name}}<br/>
					{{save.updated_at}}</a>

					{% endfor %}
				{% endfor %}
			</div>			
		</div>
				
		<div class="row">
			<div class="col-xs-9">
				<h3>Leader Board</h3>
				<table class="table" id="leaderboard">
					<thead>
						<th>Rank</th>
						<th>Username</th>
						<th>High Score</th>
					</thead>
					{% for leader in leaders %}
				
					<tbody>
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{leader.user}}</td>
							<td>{{leader.score}}</td>
						</tr>
					</tbody>
					
					{% endfor %}
				</table>				
			</div>
		</div>
</body>
</html>
