<!DOCTYPE html>
<html>
<head>
	<title>bachsExploration | Play </title>
	<meta charset="utf-8">
	{%load staticfiles%}
	<!-- Bootstrap -->
	 
	<link rel="stylesheet" type="text/css" href="{% static 'gamePlay/css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<!-- Other Style Sheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'gamePlay/css/style.css' %}">

	<!-- jQuery -->
	<script type="text/javascript" src="{%static 'gamePlay/js/jquery-3.0.0.min.js'%}"></script>

	<!-- main JS -->
	<script type="text/javascript" src="{%static 'gamePlay/js/script.js'%}"></script>

</head>
<body ondragstart="return false;" ondrop="return false;">
	<!-- <div class="header">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'login_index' %}">Dashboard</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="{%url 'logOut'%}">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div> -->
	<!-- Container / Main Body -->
	<div class="container">
		<!-- row 1 / Message & Alert Display -->
		<div class="row">
			<h1>bachs exploration</h1>
		
			
		</div>
		<div class="row game">
				<div id="gameRegion" class="col-xs-9">
					<div id="readyScreen"></div>
					<div id="deadSoldiers"></div>
					<div id="player"><img id="playerImg" src="{% static 'gamePlay/img/archer_idle.png' %}"></div>
					<div id="projectiles"></div>
					<div id="walls"></div>
					<div id="soldiers">
						<div class="npchealth"></div>
					</div>
					
				</div>
				<div id="pause" class="col-xs-9">
					<h1>GAME PAUSED</h1>
					<a href="{% url 'game_main' %}" class="button" id="savebtn">SAVE GAME</a> <a href="{% url 'logOut' %}" class="button" id="restart">RESTART</a> <a href="{% url 'logOut' %}" class="button" id="quit">QUIT</a>
				</div>
				<!-- <div>
					<p id="demo">test</p>
				</div>
				<div>
					<p id="democlick">test</p>
				</div> -->
				<div class="col-xs-2">
					<div id="ui" style="width:200px;">
						<div class="row">
							<div id="score">
								<div></div>
							</div>
						</div>
						<div class="row">
							<h3>Health</h3>
							<div id="health">
								<div id="currentHealth"></div>
							</div>
						</div>
						<div class="row">
							<h3>Charge</h3>
							<div id="charge">

								<div id="currentCharge"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- 	<div class="header">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="{% url 'login_index' %}">Dashboard</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="{%url 'logOut'%}">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div> -->

	<!-- Footer -->
<!-- 	<div class="footer">
		<p>&copy; 2016 BachsExploration, a division of SRSbznz Inc.</p>
	</div>	 -->
</body>
</html>
